{{ define "main" }}
<div class="container" style="color: white; background-color: rgb(51, 51, 51);">
<div class="container justify-content-center col-lg-8 mt-3 mb-3" >
    <h2 class="justify-content-center" style="text-align: center; margin-top: 70px; padding-top: 20px;">{{ .Title }}</h2>
    <h4 style="text-align: center;">{{ .Params.Description }}</h4>
    <div class="text-brand mb-2" style="text-align: center;">{{- .Date.Format "2006, Jan 02 " -}} | {{ .Params.Author }}</div>
    <div class="justify-content-center" style="text-align: center;">
        <img src="{{ .Params.Image }}" style="text-align: center; align-items: center; display: block; margin-left: auto; margin-right: auto;" class="col-md-8 col-lg-6" alt="NO {{ .Params.Image }}">
    </div>
</div>
    <div class="justify-content-center row">
        <div class="content col-lg-8 shadow mt-3 mb-3" id="blog-content">
            {{- .Content -}}
        </div>
    </div>
</div>

{{ end }}