{{ define "main" }}

<div class="text-center section">
    <h1 style="margin-top: 150px; color: rgb(55, 105, 55); font-style: italic; font-weight: 700; font-family: monospace;" >Page Not Found</h1>
    <div class="ag-page-404">
        <div class="ag-toaster-wrap">
          <div class="ag-toaster">
            <div class="ag-toaster_back"></div>
            <div class="ag-toaster_front">
              <div class="js-toaster_lever ag-toaster_lever"></div>
            </div>
            <div class="ag-toaster_toast-handler">
              <div class="js-toaster_toast ag-toaster_toast js-ag-hide"></div>
            </div>
          </div>
      
          <canvas id="canvas-404" class="ag-canvas-404"></canvas>
          <img id="smoke-image" class="ag-canvas-404_img" src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/smoke.png">
        </div>
      </div>
</div>

{{ end }}